<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <!-- Root-Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- Application logging: normalerweise INFO (set to DEBUG only for troubleshooting) -->
        <Logger name="com.mlprograms.searchmax" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Setze verbose Bibliotheken auf WARN, z.B. PDFBox internals -->
        <Logger name="org.apache.pdfbox" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Swing/AWT/Java internal logging auf WARN, falls benötigt -->
        <Logger name="java.awt" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

    </Loggers>
</Configuration>
